.container_task {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.add_task {
    padding: 10px;
    border-radius: 10px;
    background-color: beige;
}

.add_task:hover {
    background-color: rgb(237, 237, 158);
}

.input_task {
    padding: 20px;
    border-radius: 10px;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

li {
    list-style: none;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    background-color: rgba(194, 155, 230, 0.404);
    left: 50%;
    width: 100px;
}