body {
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #06080ed9;
    color: white;
}

.nav_name {
    text-decoration: none;
    color: inherit;
    text-align: center;
}

.nav_name:hover {
    color: blueviolet;
}

.nav_task {
    text-decoration: none;
    color: inherit;
}

.nav_task:hover {
    color: blueviolet;
}

nav {
    border-bottom: 1px solid #1E293B;
    padding: 10px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
}

.welcome_title {
    display: flex;
    align-items: center;
    position: relative;
}

.title {
    padding-left: 10px;
}

/*
translate: Significa "mover" ou "trasladar". X: Significa que o movimento é apenas na horizontal (esquerda/direita). -50%: Significa "mova 50% da minha própria largura para a esquerda (negativo)".
*/

.title_main {                       
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.style_year {
    border-bottom: 1px solid #1E293B;
}

.link {
    text-decoration: none;
    color: white;
}

.div_projects {
    margin-left: 2rem;
    margin-right: 2rem;
}
