footer > a {
    text-decoration: none;
}

.img_footer {
    width: 32px;
    height: 32px;
}

footer {
    text-align: center;
    border-top: 1px solid #1E293B;
    padding: 20px 0;
    margin-top: auto;
}
